
.separador{
    display: flex;
    justify-content: space-around;
    padding-top: 3%;
    padding-right: auto;
}

.datos{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    list-style: none;
    padding-right: 3%;
}

.imagen-pagina{
    height: 50vh;
    width: 50vw;
    padding-top: 3%;
    border-radius: 10%;
}
.pagina{
    overflow: hidden;
    height: auto; 
    width:  100vw; /* For 100% screen width */
    /* width: 23%;
    height: 43%; */
    
    border: 6px solid #333;
    background-color: #333;
    border-radius: 15px;
    color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cargando{
    width: 100vw;
    height: 100vh;
    display:flex;
    align-items: center;
    justify-content: center;
    color: #ddd;
  }
  

.contenedor{
    height: auto; /* For 100% screen height */
    width:  100vw; /* For 100% screen width */
    background-color: rgb(22, 22, 22);
}


@media all and (max-width: 480px) {
    .imagen-pagina{
        height: 50vh;
        width: 100vw;
        padding-top: 3%;
        border-radius: 10%;
    }
    .separador{
        display: flex;
        flex-direction: column;
        padding-top: 3%;
        padding-right: auto;
    }
    .pagina{
        overflow: hidden;
        height: auto; 
        width:  100vw; /* For 100% screen width */
        /* width: 23%;
        height: 43%; */
        
        border: 6px solid #333;
        background-color: #333;
        border-radius: 15px;
        color: aliceblue;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}