.chico{
    width: 22vw;
    height: 5vh;
    border-radius: 100px;
    background-color: rgb(83, 83, 83);
    color: aliceblue;
    padding-left: 7%;
    font-size:medium;
    font-weight: bolder;
}

.grande{
    width: 50vw;
    height: 5vh;
    border-radius: 100px;
    background-color: rgb(83, 83, 83);
    color: aliceblue;
    padding-left: 7%;
    font-size:medium;
    font-weight: bolder;
}



@media all and (max-width: 480px) {
    .chico{
        width: 80vw;
        height: 5vh;
        border-radius: 100px;
        background-color: rgb(83, 83, 83);
        color: aliceblue;
        padding-left: 7%;
        font-size:medium;
        font-weight: bolder;
    }
}