.videoJuego{
    width: 21vw;
    height: 27vw;
    /* width: 23%;
    height: 43%; */
    padding: 3%;
    border: 6px solid #333;
    background-color: #333;
    border-radius: 15px;
    color: aliceblue;
}

.imagen{
    /* width: 20vw;
    height: 20vh; */
    width: 100%;
    height: 50%;
    border-radius: 5%;
}

.generos{
    display: flex;
    width: auto;
    height: auto;
    justify-content: center;
    padding-left: 9%;
    padding-right: 9%;
}
.texto-generos{
    width: auto;
    height: auto;
    padding-right: 15%;
    padding-left: 5%;
}

.link{
    text-decoration:none;
}